html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  /* border: 1px dotted blue; */
}

body {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 40px auto;
  background: #2B2733;
  color: #CBC9CF;
}

header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #46424D;
}

h1 {
  margin: auto;
  color: #FFF;
}

main {

}

form {
  background: #46424D;
  color: #FFF;
  box-shadow: 10px 10px 10px #26222D;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
}
