html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  /* border: 1px dotted pink; */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 40px auto;
  background: #2B2733;
  color: #CBC9CF;
}

header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 60px;
  background: #46424D;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: auto;
  color: #FFF;
}

h2 {
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 50px;
}

main {
border-right: 2px solid #46424D;
}

form {
  background: #46424D;
  color: #FFF;
  box-shadow: 10px 10px 10px #26222D;
  border-radius: 3px;
  margin: 10px 30px 0px 30px;
  height: 650px;
  padding: 45px 90px 40px 90px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

form > p {
  grid-column: 1 / -1;
  font-weight: 400;
  font-size: 1.2em;
  align-self: end;
}

.study-button {
  grid-column: 1 / 3;
  background: transparent;
  color: #FFF;
  margin-right: 60px;
}

.meditate-button {
  grid-column: 3 / 5;
  margin: 0 30px;
  background: transparent;
  color: #FFF;
}

.exercise-button {
  grid-column: 5 / 7;
  background: transparent;
  color: #FFF;
  margin-left: 60px;
}

.activity-button {
  border: solid 2px #FFF;
  border-radius: 5px;
  height: 70px;
  font-size: 1.1em;
  box-sizing: border-box;
}


img {
  max-width: 24px;
  height: auto;
}

label {
  font-size: 1.2em;
  align-self: end;
}

.user-goal-prompt {
  grid-column: 1 / -1;
}

.description-input {
  grid-column: 1 / -1;
  height: 25px;
  padding-top: 25px;
  color: #CBC9CF;
  font: inherit;
  font-size: 1.2em;
}

.minutes-prompt {
  grid-column: 1 / 4;
}

.seconds-prompt {
  grid-column: 4 / 7;
  margin-left: 55px;
}

.minutes-input {
  grid-column: 1 / 4;
  height: 25px;
  padding-top: 25px;
  margin-right: 55px;
  color: #CBC9CF;
  font: inherit;
  font-size: 1.2em;
}

.seconds-input {
  grid-column: 4 / 7;
  height: 25px;
  padding-top: 25px;
  margin-left: 55px;
  color: #CBC9CF;
  font: inherit;
  font-size: 1.2em;
}

.start-activity-button {
grid-column-end: 7;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
}

.past-activities > p {
  text-align: center;
}
