html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  border: 1px dotted pink;
}

body {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 40px auto;
  background: #2B2733;
  color: #CBC9CF;
}

header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #46424D;
}

h1 {
  margin: auto;
  color: #FFF;
}

h2 {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}

main {
border-right: 2px solid #46424D;
}

form {
  background: #46424D;
  color: #FFF;
  box-shadow: 10px 10px 10px #26222D;
  border-radius: 3px;
  margin: 10px 30px 0px 30px;
  height: 650px;
  padding: 45px 90px 40px 90px;
  box-sizing: border-box;
}

form > * {
/*  margin-left: 90px;
  margin-right: 90px; */
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
}

.past-activities > p {
  text-align: center;
}
